<%- include('header.ejs');%>

<h1>Bienvenue sur la merveilleuse page2!</h1>


<form method="post">
    <label for="example">Nom</label>
    <input type="text" id="example" name="name">
    <input type="submit" value="Envoyer"></input>
</form>

<%- include('footer.ejs');%>